<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beans</key>
	<array>
		<dict>
			<key>name</key>
			<string>ウィローブレンド</string>
			<key>abbr</key>
			<string>WLB</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ライトノートブレンド</string>
			<key>abbr</key>
			<string>LNB</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ブレックファーストブレンド</string>
			<key>abbr</key>
			<string>BFB</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>パイクプレイスロースト</string>
			<key>abbr</key>
			<string>EDB</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>グアテマラ アンティグア</string>
			<key>abbr</key>
			<string>GTM</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ケニア</string>
			<key>abbr</key>
			<string>KEN</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>エチオピア</string>
			<key>abbr</key>
			<string>ETH</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ハウスブレンド</string>
			<key>abbr</key>
			<string>HOU</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>コロンビア</string>
			<key>abbr</key>
			<string>CLB</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>スマトラ</string>
			<key>abbr</key>
			<string>SUM</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>コモドドラゴンブレンド</string>
			<key>abbr</key>
			<string>KMD</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ディカフェ コモドドラゴンブレンド</string>
			<key>abbr</key>
			<string>DKD</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>カフェベロナ</string>
			<key>abbr</key>
			<string>VRN</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>エスプレッソロースト</string>
			<key>abbr</key>
			<string>ESP</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>イタリアンロースト</string>
			<key>abbr</key>
			<string>ITA</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>フレンチロースト</string>
			<key>abbr</key>
			<string>FRE</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>アイスコーヒーブレンド</string>
			<key>abbr</key>
			<string>ICB</string>
			<key>icon</key>
			<string></string>
			<key>remarks</key>
			<string></string>
		</dict>
	</array>
	<key>foods</key>
	<array>
		<dict>
			<key>name</key>
			<string>グラノラ</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ホワイトチョコレートマカダミアクッキー</string>
			<key>remarks</key>
			<string></string>
		</dict>
	</array>
	<key>sizes</key>
	<array>
		<dict>
			<key>name</key>
			<string>S</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>T</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>V</string>
			<key>remarks</key>
			<string></string>
		</dict>
	</array>
	<key>methods</key>
	<array>
		<dict>
			<key>name</key>
			<string>ドリップ</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>ハンドドリップ</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>プレス</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>クローバー</string>
			<key>remarks</key>
			<string></string>
		</dict>
	</array>
	<key>stores</key>
	<array>
		<dict>
			<key>name</key>
			<string>大船ルミネウィング店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>鎌倉御成町店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>港南台バーズ店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>らびすた新杉田店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>たまプラーザテラス店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>横浜ランドマークプラザ店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>秋葉原駅前店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>アトレ秋葉原1店</string>
			<key>remarks</key>
			<string></string>
		</dict>
		<dict>
			<key>name</key>
			<string>TSUTAYA 横浜みなとみらい店</string>
			<key>remarks</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
